.business {
  background: #f8f6f3;
  position: relative;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  opacity: 0.8;
  padding: 25px 0 20px 0px;
  position: absolute;
  top: 43px;
}

.black {
  color: #282828;
}

.bus__container {
  max-width: 1280px;
  margin: 0 auto;
}

.bus__cards__wrapper {
  position: relative;
  top: -35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bus__hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #000000;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.bus__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 4rem;
}

.bus__card:hover {
  &:hover {
    .bus__text {
      opacity: 1;
      transition: 1s;
      cursor: pointer;
    }
  }
}

.bus__title {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}
.bus__text {
  width: 290px;
  color: rgba(0, 0, 0, 1);
  left: 48px;
  font-weight: 100;
  font-size: 14px;
  text-align: left;
  opacity: 0;
  transition: 1s;
}

.bus__hr__flex {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bus__hr {
  height: 2px;
  width: 100%;
  background: #afafaf;
}

.ml-2 {
  margin-left: 2rem;
}
