.button__main {
  color: white;
  background: no-repeat;
  border: none;
  padding: 15px 25px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  position: relative;
  transition: 1s;
}

.button__main:after {
  content: " ";
  width: 50%;
  height: 1px;
  background: white;
  display: block;
  bottom: 0;
  position: absolute;
  right: 0;
}

.button__main:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 1s;
}

.button__text {
  font-size: 14px;
  font-weight: 600;
}

.button__container__main {
  text-align: center;
  padding-top: 4rem;
  width: 631px;
}

.button__container__service {
  width: 310px;
  text-align: center;
  padding-top: 2rem;
}

.button__container__jobs {
  width: 22rem;
  text-align: center;
}

.button__container__bud {
  width: 100%;
  text-align: center;
}

.button__main__black {
  color: black;
  background: no-repeat;
  border: none;
  padding: 15px 25px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  position: relative;
  transition: 1s;
}

.button__main__black:after {
  content: " ";
  width: 50%;
  height: 1px;
  background: black;
  display: block;
  bottom: 0;
  position: absolute;
  right: 0;
}

.button__main__black:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 1s;
}

.button__container__bus {
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
}

.button__container__project {
  width: 100%;
  text-align: center;
  padding-top: 4rem;
}

.button__container__people {
  width: 100%;
  text-align: center;
}
