footer {
  padding: 3rem 0;
  background: black;
  color: white;
}

.footer__flex {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 100;
  align-items: center;
  width: 400px;
}

.footer__text {
  text-align: center;
  font-size: 14px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__nav__item {
  color: white;
  font-weight: 100;
  text-decoration: none;
  transition: 1s;

  &:hover {
    cursor: pointer;
    transition: 1s;
    opacity: 0.6;
  }
}

.footer__info__flex {
  display: flex;
  gap: 10px;
}

.footer__info__text {
  font-weight: 100;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__info__href {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer__logo__image {
  width: 140px;
}

.footer__offer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid white;
    padding: 1rem 0;
    font-weight: 100;
}