* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Header */
.header {
  width: 100%;
  height: 100px;
  background-color: #282828;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 65%);
  position: fixed;
  z-index: 10;
  transition: 1s;
}

.header__container {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: block;
  width: 141px;
  height: 62px;
}

.logo__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 1s;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.call-to-action__button {
  background: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: lowercase;
  cursor: pointer;
  padding: 0;
}

.call-to-action__button:hover {
  opacity: 0.8;
}

.call-to-action__underline {
  width: 64px;
  height: 2px;
  background-color: white;
  display: block;
}

.menu__toggle {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 0;
}

.menu__icon {
  width: 64px;
  height: 13px;
  position: relative;
  display: block;
}

.menu__line {
  display: block;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
}

.menu__line:first-child {
  top: 0;
  width: 55px;
}

.menu__line--middle {
  top: 5px;
  left: -10px !important;
  width: 65px;
}

.menu__line:last-child {
  bottom: 0;
  width: 55px;
}

.menu__text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: lowercase;
}
