.jobs {
  background: #282828;
  padding: 9rem 0;
  position: relative;
}

.title__job {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #ffffff;
  opacity: 0.8;
  padding: 25px 0 20px 0px;
  position: absolute;
  top: 43px;
}

.jobs__items {
  height: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #ffffff;
  position: relative;
}

.jobs__container {
  display: flex;
  margin-left: 317px;
  height: 40rem;
}

.jobs__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 37rem;
}

.jobs__items.active {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.jobs__items:hover {
  cursor: pointer;
  opacity: 0.8;
}

.jobs__items.active::after {
  content: " ";
  position: absolute;
  width: 140px;
  height: 1px;
  background: white;
  bottom: -15px;
  right: 0;
}

.cards__title {
  font-size: 16px;
  font-weight: 700;
}

.jobs__hr {
  width: 10rem;
}

.cards__text {
  font-size: 14px;
  font-weight: 100;
  width: 22rem;
}

.jobs__cards {
  padding: 202px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 930px;
  justify-content: center;
  align-items: flex-start;
}

.jobs__item__card {
  display: none;
  background-size: 100% 100%;
}

.jobs__item__card.active {
  display: block;
}

#jobs1 {
  background-image: url("../images/jobs/job1.png");
}

#jobs2 {
  background-image: url("../images/jobs/job2.png");
}
