.people {
  background: #f8f6f3;
  padding: 0;
}

.title__people {
  font-style: normal;
  font-weight: 400;
  color: #282828;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  opacity: 0.8;
  padding: 25px 0 20px 0px;
  position: absolute;
  top: 43px;
}

.people__container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 3rem;
}

.people__card__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 9rem 0;
  max-height: 25rem;
  overflow: hidden;
}

.people__card__title {
  /* Евгений */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #000000;

  /* Inside auto layout */
}

.people__card__title__and__start {
  display: flex;
  justify-content: space-between;
}

.people__card__boss {
  /* директор Природного парка «Олений», */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #000000;

  /* Inside auto layout */
}

.people__card__place {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #000000;
}

.people__card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #000000;
}

.people__card__logo {
  width: 100px;
  height: 100px;
  background: black;
}

.people__card__logo_line {
  display: flex;
  gap: 1rem;
}

.people__card__starline {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}

.people__card {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.people__card__wrapper.active {
  overflow: unset;
  max-height: unset;
}
