.project {
  background: #282828;
}

.project__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

.project__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 41px;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #ffffff;
  padding: 3rem 0px;
}

.project__card__inset {
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 1s;
}

.project__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 27rem 5rem 5rem 5rem;
  justify-content: end;
  transition: 1s;
  position: relative;

  &:hover {
    cursor: pointer;
    outline: 40px #ffffff3b solid;
    outline-offset: -40px;
    transition: 1s;
    .project__card__inset {
      opacity: 1;
      z-index: 1;
      transition: 1s;
    }
  }

  &:hover::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(
      180deg,
      #ffffff00 0%,
      #282828 63%,
      #282828 100%
    );
    transition: 1s;
  }
}

.project__card__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #ffffff;
  z-index: 1;
}

.project__about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #ffffff;
  width: 19rem;
  z-index: 1;
}

.project__place {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #ffffff;
  z-index: 1;
}

.project__left__columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

.project__right__columns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

#project1 {
  background-image: url("../images/projects/project1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#project2 {
  background-image: url("../images/projects/project2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#project3 {
  background-image: url("../images/projects/project3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#project4 {
  background-image: url("../images/projects/project4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#project5 {
  background-image: url("../images/projects/project5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#project6 {
  background-image: url("../images/projects/project6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
