.quietion__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 9rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title__quietion {
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  opacity: 0.8;
  padding: 25px 0 20px 0px;
  position: absolute;
  top: 43px;
}

.quietion {
  background-image: url("../images/question.jpg");
  background-size: cover;
}

.quietion_flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.quietion__quietion {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.quietion__answer {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-left: 100px;
  opacity: 0;
  transition: 1s;
}

.quietion__card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: 1s;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 1s;
  }
}

.quietion__answer.active {
  opacity: 1;
  transition: 1s;
}
