.time {
  background-image: url("../images/about.jpg");
  background-size: cover;
}

.time__hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 41px;
  line-height: 50px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #ffffff;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.time__container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 3rem;
}

.time__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 10rem 0;
}

.time__card__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.time__card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.time__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 22rem;
}
